window#waybar {
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.modules-right {
    margin-right: 5px;
}

.modules-left {
    margin-left: 5px;
}

#workspaces button {
    border: 1px solid white;
    border-radius: 0%;
}

#workspaces {
    border: 1px solid white;
}

#custom-home {
    margin: 5px;
}

#custom-home:hover {
    box-shadow: inset 0 -3px #ffffff;
}
